html, body {
	height:100%;
      width:100%;
      padding:0px;
      margin:0px;
}
.leaflet-panel-layers-list{
	background: white;
	border:1px solid gray;
}

.leaflet-panel-layers-list label{
  white-space: pre;
	display:block;
	border:1px solid lightgray;
	padding:1vh;
	padding-right: 2vh;
	padding-left: 1vh;
}
#map{
	height: 650px;
}
.noP{
	padding: 0px;
}
#flip{
	display: none;
  background: #f7f7f7;
}
#panel, #flip {
  padding: 5px;
  text-align: center;
	font-size: 1.3em;
	font-weight: 400;
	color: dargray;
  border: solid 1px darkgray;
}
#panel {
  margin: auto;
	background: #f7f7f7;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 30%;
  display: none;
}

#regions_div:active{
	position:fixed;
	padding:0;
	margin:0;

	top:0;
	left:0;

	width: 100%;
	height: 100%;
}
#chart_div:active{
	position:fixed;
	padding:0;
	margin:0;

	top:0;
	left:0;

	width: 100%;
	height: 100%;
}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 14.28571428571429%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}
